.form-wrapper {
    padding: 20px 10%;
    overflow-x: auto;
}

.form-container {
    width: 100%;
    padding: 20px 100px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .form-group label {
    flex: 0 0 100px;
    font-weight: bold;
  }
  
  .form-group input[type="text"],
  .form-group textarea {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group input[type="checkbox"] {
    margin-left: 5px;
  }

  .validate-btn-form {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #16ad02;      /* couleur de bordure */
    border-radius: 6px;             /* coins arrondis */
    color: #16ad02;                 /* couleur du crayon */
    transition: all 0.2s ease;
    cursor: pointer;
}

.validate-btn-form:hover {
    background-color: #16ad02;      /* fond prend la couleur du bord */
    color: white;                   /* crayon devient blanc */
}
  