.table-wrapper {
    padding: 0 5%;        
    overflow-x: auto;
  }
  
.table-custom {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table-cell {
    border: 1px solid #ccc; /* bordure grise */
    padding: 8px;
    text-align: center;
  }
  
  .table-header {
    background-color: #003366; /* fond bleu foncé */
    color: white;
  }
  
  .table-body .table-row:nth-child(odd) {
    background-color: #ffffff; /* blanc */
  }
  
  .table-body .table-row:nth-child(even) {
    background-color: #e6f0ff; /* bleu clair */
  }

  .table-body .table-row:hover {
    background-color: #d9edf7; /* bleu/gris clair au survol */
  }

  
.edit-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 2px solid #007bff;      /* couleur de bordure */
    border-radius: 6px;             /* coins arrondis */
    color: #007bff;                 /* couleur du crayon */
    transition: all 0.2s ease;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: #007bff;      /* fond prend la couleur du bord */
    color: white;                   /* crayon devient blanc */
}

.edit-btn svg {
    width: 16px;
    height: 16px;
    fill: currentColor;             /* permet de changer la couleur via 'color' */
}