.table-wrapper {
    padding: 0 5%;        
    overflow-x: hidden;
    width: 100%;
    box-sizing: border-box;
  }
  
.table-custom {
  width: 100%;
  max-width: 100%;        /* Limite la largeur de la table au conteneur */
  border-collapse: collapse;
  table-layout: auto;     /* Pour que les colonnes prennent la largeur nécessaire au contenu */
  }
  
  .table-cell {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    min-width: 100px;
  }
  
  .table-header {
    background-color: #003366; /* fond bleu foncé */
    color: white;
  }
  
  .table-body .table-row:nth-child(odd) {
    background-color: #ffffff; /* blanc */
    transition: all 0.2s ease;
  }
  
  .table-body .table-row:nth-child(even) {
    background-color: #e6f0ff; /* bleu clair */
    transition: all 0.2s ease;
  }

  .table-body .table-row:hover {
    background-color: #d9edf7; /* bleu/gris clair au survol */
    transition: all 0.2s ease;
  }

  
.edit-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #003366;      /* couleur de bordure */
    border-radius: 6px;             /* coins arrondis */
    color: #003366;                 /* couleur du crayon */
    transition: all 0.2s ease;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: #003366;      /* fond prend la couleur du bord */
    color: white;                   /* crayon devient blanc */
}

.new-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;      /* couleur de bordure */
    border-radius: 6px;             /* coins arrondis */
    color: white;
    transition: all 0.2s ease;
    cursor: pointer;
    padding: 0 3px;
}

.new-btn:hover {
    background-color: white;
    color: #003366;
}

.icon-btn {
    width: 32px;
    height: 32px;
}

.edit-btn svg {
    width: 16px;
    height: 16px;
    fill: currentColor;             /* permet de changer la couleur via 'color' */
}

.title_table { 
    padding: 20px 5%;   
    font-size: 120%;
}

.title_header {
    font-weight: bold;
    background-color: #003366; /* fond bleu foncé */
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    width: 100%;
    justify-content: space-between;
}

.icon_table {
    display: inline-flex;
    align-items: center;
    font-size: 1em;         /* adapte la taille à celle du texte environnant */
    margin-right: 4px;      /* espace entre l’icône et le texte */
    vertical-align: middle;
  }
  
  .icon_table svg {
    width: 1em;
    height: 1em;
    fill: currentColor;     /* icône prend la couleur du texte */
  }

  .header-with-icon {
    display: inline-flex;
    align-items: center;     /* aligne verticalement */
    gap: 6px;                /* espace entre l’icône et le texte */
    font-size: 1rem;         /* taille de base */
  }